poc_cloud/lib/workflow.json
{
    "Comment": "This worflow is a simple implementation of Video Processing",
    "StartAt": "Is Customer free tier ?",
    "States": {
        "Is Customer free tier ?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.customerType",
                    "StringEquals": "FREE",
                    "Next": "Apply Watermarking"
                }
            ],
            "Default": "is High Priority Customer ?"
        },
        "Apply Watermarking": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:REGION:ACCOUNT_ID:cluster/MyECSCluster",
                "TaskDefinition": "arn:aws:ecs:REGION:ACCOUNT_ID:task-definition/MyTaskDefinition:1",
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "container-name",
                            "Command.$": "$.commands"
                        }
                    ]
                }
            },
            "Next": "Encode video (free tier)"
        },
        "Encode video (free tier)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:REGION:ACCOUNT_ID:cluster/MyECSCluster",
                "TaskDefinition": "arn:aws:ecs:REGION:ACCOUNT_ID:task-definition/MyTaskDefinition:1",
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "container-name",
                            "Command.$": "$.commands"
                        }
                    ]
                }
            },
            "Catch": [
                {
                    "ErrorEquals": []
                }
            ],
            "Next": "SNS Publish VideoProcessedEventFreeTier"
        },
        "SNS Publish VideoProcessedEventFreeTier": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "Message.$": "$"
            },
            "End": true
        },
        "is High Priority Customer ?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.customerType",
                    "StringEquals": "HIGH",
                    "Next": "Encode Video (high priority)"
                }
            ],
            "Default": "Encode Video (low priority)"
        },
        "Encode Video (high priority)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:REGION:ACCOUNT_ID:cluster/MyECSCluster",
                "TaskDefinition": "arn:aws:ecs:REGION:ACCOUNT_ID:task-definition/MyTaskDefinition:1",
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "container-name",
                            "Command.$": "$.commands" 
                        }
                    ]
                }
            },
            "Next": "SNS Publish VideoProcessedEventHighTier"
        },
        "SNS Publish VideoProcessedEventHighTier": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "Message.$": "$"
            },
            "End": true
        },
        "Encode Video (low priority)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:REGION:ACCOUNT_ID:cluster/MyECSCluster",
                "TaskDefinition": "arn:aws:ecs:REGION:ACCOUNT_ID:task-definition/MyTaskDefinition:1",
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "container-name",
                            "Command.$": "$.commands" 
                        }
                    ]
                }
            },
            "Next": "SNS Publish VideoProcessedEventLowTier"
        },
        "SNS Publish VideoProcessedEventLowTier": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "Message.$": "$"
            },
            "End": true
        }
    }
}